ProjetoBanco.ConsoleApp/obj
ProjetoBanco.ConsoleApp/bin

ProjetoBanco.Core/obj
ProjetoBanco.Core/bin

ProjetoBanco.Tests/obj
ProjetoBanco.Tests/bin

ProjetoBanco.Infrastructure/obj
ProjetoBanco.Infrastructure/bin

DetalhamentoProjeto.tldr
Propostas.txt